*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

:root {
    --color-icon: #8ffad1;
    --titles-h1: rgb(64, 94, 177);
    --titles-h2: rgb(212, 78, 100);
    --titles-h3: rgb(255, 255, 255);
    --titles-h4: rgb(214, 131, 53);
    --bg-op1: linear-gradient(to bottom, #edf2dd, #ecefd7, #ebecd1, #ebe9ca, #ebe6c4, #ece7be, #ece7b8, #ece8b2, #eaedab, #e5f3a5, #def9a0, #d4ff9d);
    --bg-op2: background-image: linear-gradient(to right top, #e8f2d1, #e9f4d1, #eaf5d1, #ebf7d1, #ecf8d1);;
    --bg-op3: linear-gradient(to bottom, #77d8f9, #39d5e9, #00d0ce, #00c9aa, #00c07e, #38b85e, #53ae3d, #68a40f, #7f9a00, #918f00, #9e8400, #a8790d);
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    .promociones::-webkit-scrollbar{
        width: 10px;
        border-radius: 10px;
    }
    
   
    
}
body::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(26, 121, 194);
    border-radius: 10px;
}
body::-webkit-scrollbar-track{
    background-image: linear-gradient(to bottom, #edf2dd, #ecefd7, #ebecd1, #ebe9ca, #ebe6c4, #ece7be, #ece7b8, #ece8b2, #eaedab, #e5f3a5, #def9a0, #d4ff9d);
    border-radius: 10px;   
}

.header{
    width: 100%;
    min-height: 20vh;
    position: sticky;
    margin: 0;
    padding: 20px 0;
    top: 0;
    border-bottom: #000000 solid 2px;
    background-image: var(--bg-op3); /*linear-gradient(to bottom, #edf2dd, #ecefd7, #ebecd1, #ebe9ca, #ebe6c4, #ece7be, #ece7b8, #ece8b2, #eaedab, #e5f3a5, #def9a0, #d4ff9d);*/
    z-index: 10;

    .nav1{
            padding: 10px 0;
            margin: 0 20px;
            display: flex;
            justify-content:space-between;
            align-items: center;
    }
            .icono a{
                color: black;
                text-decoration: none;
                font-size: 3rem;
            }

            .icono i{
                width: 4rem;
                color: var(--color-icon);
                margin: 0;
                padding: 0;
                transition: 0.3s;
            }
            .icono i:hover{
                width: 4rem;
                color: rgb(26, 121, 194);
                margin: 0;
                padding: 0;   
            }
            
            
            .contacto a{
                font-size: 2rem;
                color:rgb(26, 121, 194);
                padding: 0 20px;
                text-decoration: none;
                animation: social both 10s ease  infinite;
            }     
            
            
    }
    @keyframes social{
        0%{
            
            color: rgb(231, 231, 179);
        }
        50%{
            
            color: rgb(45, 107, 232);
        }
        100%{
            
            color: rgb(11, 14, 16);
        }
    }

    .nav2{
            padding: 0;
            margin: 0;
    }
       
        .navul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 20px;
        padding: 10px 0;

       }

       .navli{
        border-radius: 5px;
        transition: 0.3s;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       }

       .navli:hover{
        background-color: #6a6e6d;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
       }
       .navlia{
        padding: 0;
        text-decoration: none;
        color: #d57826;
        font-size: 1.3rem;
        
       }
       .navliaini{
        padding: 0;
        text-decoration: none;
        color: rgb(248, 65, 65);
        font-size: 1.3rem;
       }


.aventuras{
    background-image: url(../assets/img/lagos\ en\ auto1.JPG);
    background-repeat: no-repeat;
    background-position:center center;
    height: 75vh;
    background-size: cover;
     /*linear-gradient(to bottom, #edf2dd, #ecefd7, #ebecd1, #ebe9ca, #ebe6c4, #ece7be, #ece7b8, #ece8b2, #eaedab, #e5f3a5, #def9a0, #d4ff9d);*/
    padding: 30px 0;
    margin: 0;
    font-weight: 900;
    row-gap: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

 .h1{
    margin:0;
    padding: 0;
    color: var(--titles-h1);
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content:center;   
}

.titulos2{
    margin: 0;
    color: var(--titles-h2);
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}

.titulos3{
    margin: 0;
    color: var(--titles-h3);
    padding: 0;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.formsec2{
    padding: 0;
    margin: 0;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.registro{
    display: flex;
    justify-content: center;
    align-items: center;
}



.registrarse{
    padding:0;
    margin: 0;
    display: block;
    justify-content: center;
    text-decoration: none;
    color: rgb(248, 65, 65);
    border-radius: 10px;
    background-color: rgb(227, 249, 227);
    font-size: 2.5rem;
    transition: 0.5s;
}

.registrarse:hover{
    display: block;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    text-decoration: none;
    color: rgb(3, 77, 19);
    font-size: 2.5rem;
}

.buscar{
    background-image: var(--bg-op3);
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.formbuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;   
}

.buscaventura{
    display: inline;
    padding: 10px;
    margin: 15px;
    border-radius: 10px; 
    border-color: #4c068f;
    width: 20rem;   
}



.botonbusca{
   display: inline;
   padding: 16px;
   color: #4c068f;
   font-size: 1.5rem;
   border-radius: 100%;
   border-color: #4c068f;
   background-color: rgb(134, 216, 134);
   box-shadow: rgb(151, 86, 237) 0px 0px 25px 0px; 
}

.clima {
    background-image: var(--bg-op1);
    padding: 40px;
    margin: 0;
    font-weight: 900;
    row-gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulos4{
    margin: 0;
    color: rgb(26, 121, 194);
    padding: 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.infoClima {
    display: flex;
    justify-content:center;
    color: #477e40;
    font-size: 1.2rem;
    /*background-color: rgb(147, 213, 243);
    border: 1px solid #810a81;
    border-radius: 10px;
    box-shadow: rgb(184, 149, 230) 0px 0px 25px 0px;*/
}

.listaClima {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
    width: 100%;

}

.spanItem {
    color: #d64603;
}

hr{
    margin: 0px 0px;
    border: #000000 solid 1px;
}


.actividades{
    background-image: var(--bg-op3);
    padding: 30px 0; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px; 
    transition: 0.3s;

    .galeria{
        margin: 0;
        padding: 0;
        width: 70%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        gap: 60px;

        .actividad{
            margin: 0;
            padding: 0;
            
            .imgactividad{
                position: relative; 
                display: inline-block;
                margin: 0;
                padding: 0;
                box-shadow: 10px -10px 10px 10px #000000;
                transition: 0.5s;
               

                img{
                    margin: 0;
                    padding: 0;
                    width: 200px;
                    height: 240px;
                    opacity: 1;
                    object-fit: cover;  
                }

                img:hover{
                    margin: 0;
                    padding: 0;
                    width: 200px;
                    height: 240px;
                    opacity: 0;
                    object-fit: cover;  
                }
                 

                .nombreact{
                    padding: 150px 135px;
                    font-size: 2.5rem;
                    color: rgb(179, 210, 24);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }
                    .nombreact:hover{
                    padding: 150px 135px;
                    font-size: 2.5rem;
                    color: rgb(179, 210, 24);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
                }
            }
        }
    }

}



.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
    button{
        position: relative;
        width: 900;
        margin: 10px 10px;
        padding: 5px;
        font-size: 1.2rem;
        color: #d57826;
        border-radius: 16px;
        border-color:linear-gradient(#810a81, #d30057, #ed5604, #cba800, #5eeb12);
        cursor: pointer;
        animation: boton alternate 1s linear infinite;
    }
    
        @keyframes boton{
            0%{
                border-color: blue;
                color: black;
            }
            50%{
                border-color: green;
                color: red;
            }
            100%{
                border-color: indigo;
                color: brown;
            }
        
        }


.footer{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    height: 70px;
    bottom: 0;
}
    .fooul {
        display: flex;
        justify-content: space-evenly; 
    
        li{
            list-style: none;
            border-radius: 5px;
            margin: auto 30px;
            
            a{
                text-decoration: none;
                color: #d57826;
                font-size: 1.3rem;
                transition: 0.5s;
                
            }
            a:hover{
                background-color: #6a6e6d;
                border-radius: 5px;
                
            }
        } 
    }
    .botonSupra {
        background-color: #00c07e;
        color: #77d8f9;
        font-size: 1rem;
        padding: 10px;
    }


/*Aca el estilo para nosotros.html*/

.titnos{ 
    font-size: 3rem;
    color: rgb(8, 105, 8);
    background-color: #a3abaa;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.nosotros{
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) ,url(../assets/img/lagos\ en\ auto1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:992px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
        .laempresa{
            width: 70%;
            height: 30%;
            margin: 0;
            color: rgb(255, 255, 255);
            font-size: 1.3rem;
            text-align: justify;
            column-gap: 20px;
          a{
            font-size: 2.2rem;
            text-decoration: none;
            color: rgb(7, 139, 7);
          }
        }
        .span{
            display: inline-block;
            justify-content: start;
            flex-direction:column;
            margin: 0;
            font-size: 2.5rem;
            color: rgb(220, 24, 24);
                
          }
}
.personas{
    background-color: #7eb3a9;
    padding: 0;
    margin: 0;
    h3{
        display: inline-block;
        padding: 10px;
    }
    .guias{
        color: #af6d32;
    }
    span{
        color: #461803;
    }
    li{
        color: rgb(4, 34, 105);
        padding: 10px;
    }
    .correo{
        font-size: 2rem;
        a{
            text-decoration: none;
            color: gold;
            font-size: 1.4rem;
        }
    }
   
}

/*Estilos de Promos*/

.contpromos{
    background-image: var(--bg-op2);
   display: flex;
   flex-direction:column;
   align-items: center;
   h3{
    margin-top: 30px;
   }
   
}


.promociones{
    width: 80%;
    border: 1px solid #461803;
    border-radius: 10px;
    background-color: rgb(238, 232, 217);
    display: flex;
    justify-content:flex-start;
    align-items:center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 30px;
    
}

.promociones::-webkit-scrollbar{
    height:  10px;
    border-radius: 10px;
}

.promociones::-webkit-scrollbar-thumb{
    background: rgb(26, 121, 194);
    border-radius: 10px;
}
.promociones::-webkit-scrollbar-track{
    background-image: linear-gradient(to bottom, #edf2dd, #ecefd7, #ebecd1, #ebe9ca, #ebe6c4, #ece7be, #ece7b8, #ece8b2, #eaedab, #e5f3a5, #def9a0, #d4ff9d);
    border-radius: 10px;   
}





.items{
    min-width: 50%;
    height: 100%;
    margin: 0 5px;
    padding: 0;
        a{
            margin: 0 auto;
        }
        img{
            margin: 5px;
            border-radius: 5px;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    

}

/*Estilo de la pagina Registrarse*/
.contenedorForm{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #1d2422;
    border: 2px solid black;
    border-radius: 5px;
    margin:5% 20%;
    padding: 10px;
    gap: 16px;
    .titulos2{
        margin: 20px 0;
    }
    p{
        color: rgb(209, 243, 116);
        text-align: justify;
        width: 60%;
    }
    i{
        color: #a69907;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input{
            width: 80%;
            color: rgb(85, 71, 15);
            border: 1.8px solid rgb(238, 168, 168);
            margin-bottom: 16px;
            padding: 3px;
        }
        label{
            color: rgb(164, 10, 10);
        }
        input{
            color: rgb(85, 71, 15);
            border: 1.8px solid rgb(238, 168, 168);
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 5px;
        }
        select{
            color: rgb(85, 71, 15);
            border: 1.8px solid rgb(238, 168, 168);
            border-radius: 5px;
            margin-bottom: 16px;
            padding: 7px;
            width: 50%;
            height: 100px;
        }
            
        fieldset{
            color: rgb(85, 71, 15);
            border: 1.8px solid rgb(238, 168, 168);
            border-radius: 5px;
            margin-bottom: 16px;
            padding: 7px;
        }
        legend{
            color: rgb(164, 10, 10);
            border: 1.8px solid rgb(238, 168, 168);
            border-radius: 5px;
            margin-bottom: 16px;
            padding: 7px;
        }
        textarea{
            color: rgb(85, 71, 15);
            border: 1.8px solid rgb(238, 168, 168);
            border-radius: 5px;
            margin-bottom: 16px;
            padding: 7px;
        }
           
    }
   
}
.ayuda{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    text-decoration: none;
    font-size: 1.4rem;
    color: #a69907;
    margin: 10px;
    background: #810a81;

}
/*Estilo de pagina Inicio de sesion*/
.contenedorSesion{
    background-color: #92c1ec;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    margin: 0;
    min-height: 428px;
        h2{
            border: solid 1px #495d5b;
            border-radius: 10px;
            font-size: 2.2rem;
            padding: 2px 10px;
            color: rgb(58, 85, 70);
            background: #e28a61;
            box-shadow: #1d2422 4px -8px 30px 4px;
        }
    
    .sesion{
        font-size: 1.2rem;
        color: rgb(63, 92, 30);
        border: 2px solid rgb(128, 76, 76);
        border-radius: 10px;
        padding: 0 30px;
        width: 30%;
        margin: 20px 0;
        input{
            width: 100%;
            background-color: #bbc5ad;
            color: #4f4033;
            border-radius: 5px;
        }
    }

    .error-message {
        color: rgb(207, 6, 6);
        font-size: 1rem;
        margin: 5px 0;
        text-align: center;
    }

     .is-invalid {
        border: 2px solid rgb(207, 6, 6);
    }

    .is-valid {
        border: 2px solid rgb(86, 126, 40);
    }

    .campo {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        color: #477e40;
        border-radius: 5px;
        padding: 0 5px;
        margin-bottom: 10px;
    }

    .envio {
        display: flex;
        justify-content:space-evenly;
        text-align: center;

        input {
            font-size: 1.5rem;
            display: inline;
            float: right;
            width: 100%;
            background-color: #bbc5ad;
            color: #4f4033;
            border-radius: 5px;
        }
    }

    .textCampo {
        display: block;
        width: 100%;
        color: #477e40;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .enviar {
        display: inline;
        float: left;
        font-size: 1.7rem;
        color: rgb(63, 92, 30);
        background-color: #bbc5ad;
        border: 2px solid #b65521;
        border-radius: 16px 16px 16px 16px;
        padding: 2px 16px;
        margin-bottom: 30px;
        box-shadow: #1d2422 4px 2px 30px 4px;
    }

   

    .noRegistrado{
        background-color: #050505;
        border-radius: 10px;
        padding: 0;
        box-shadow: #1d2422 5px 10px 30px 8px;
        a{
            text-decoration: none;
            font-size: 1.5rem;
            color: #426cac;
            background-color: #f5f2d3;
            border-radius: 10px;
            padding: 2px 10px;
        }
    }
}





/*Estilos de la pagina promos*/
.detallePromo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(
        0deg, 
        rgba(5,9,1,0.5),
        rgba(5,9,1,0.5)
    ) ,url(../assets/img/rafting1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    margin: 0;
}


.detalleFoto{
    display:block;
    img{
        border-radius: 16px;
        width: 300px;
        height: 500px;
        object-fit:cover;
       
    }
}

.tuPromo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 100px;
    
    h2{
        color: rgb(238, 78, 78);
        font-size: 1.7rem;
    }
   
    p{
        font-size: 1rem;
        color: #6392f7;
        text-align: justify;
        margin-bottom: 20px;
    }
    
    h4{
        color: white;
        font-size: 1.6rem;
        
    }
}   
    .tuPromo ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        div{
            display: inline;
            margin-left: 40px;
        }
        li{
            display: block;
            color: #a69907;
            font-size: 1.2rem;
        }
        p{
            color:#6392f7;
        }
       
    }


.detalles{
    display: flex;
    justify-content:space-around;
    align-items: start;
    flex-direction: row;
  
}

.video{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    h2{
        color: rgb(173, 148, 78);
        margin: 30px 0;
    }
    video{
        width: 600px;
        border-radius: 10px;
    }
    
}


.socialCostos{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
  
}

.itemsUl{
   margin-top: 74px;
  
     ul{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: row;  
     }

     li{
        list-style: none;
        margin: 0 100px 30px 0;
     }

     a{
        color: #6392f7;
        font-size: 1.6rem;
     }
} 

.tabla{
   width: 100%;
   border: solid 2px rgb(99, 146, 247, 0.5);
        table{
            width: 100%; 
              
        } 
        thead{
            text-align:center;
            
        }
       
        td strong{
            color: rgb(173, 148, 78);
            padding: 10px;
            text-align: start;
            
        }
        td{
            border: solid 1px rgb(99, 146, 247, 0.2); 
            text-align: center;
        }
}

@media screen and (max-width: 768px){
    .header{
        max-height: 40vh;
        margin-top: 0;
        padding: 0;
    }

    .nav1, .nav2{
        flex-direction: column; 
        align-items: center; 
    }

    .nav1 .aico i{
        padding: 10px; 
    }

    .navul{
        flex-direction: column; 
        align-items: center; 
    }

    .navli{
        margin-bottom: 10px; 
    }

    .navlia, .navliaini{
        font-size: 1.2rem; 
    }

    .aventuras .h1, .titulos2, .titulos3{
        font-size: 2rem; 
    }

    .formbuscar{
        flex-direction: column; 
        align-items: center; 
    }

    .buscaventura{
        width: 80%; 
    }

    .botonbusca{
        width: 50%; 
        margin-top: 10px; 
    }

    .actividades .galeria{
        width: 90%; 
    }

    .actividad{
        width: 45%; 
        margin-bottom: 20px; 
    }

    .actividad .imgactividad{
        box-shadow: none; 
    }

    .actividad .nombreact{
        font-size: 1.5rem; 
    }

    .nosotros{
        height: auto;
    }

    .laempresa{
        font-size: 1rem;
    }
    .footer {
        background-color: #ffffff;
    }
    .footer ul li a{
        flex-direction: column; 
        align-items: center;
        font-size: 1rem;
        bottom: 0;
        margin:0 auto;
        top: 0;
        height: 0 auto;
        background-color: none;
    }

    .titulos2{
        font-size: 1.5rem;
    }

    .promociones{
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 370px;
    }

    .detalles{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        h2{
            text-align: center;
            font-size: 1.2rem;
        }
        ul li{
            margin: 10px 40px;
        }
        video{
            width: 400px;
            justify-content: center;
        }
    }
    .tabla{
        text-align: center;
        width: 80%;
        thead th{
            text-align:end;
        }
    }

    .detallePromo{
        flex-direction: column;
        background-image: none;
        img{
            object-fit: cover;
            width: 400px;
        }
        h2{
            font-size: 1.2rem;
            text-align: center;
        }
        p{
            text-align: justify;
            padding: 10px;
            
        }
        h4{
            color: #495d5b;
        }
        ul{
            flex-direction: column;
            text-align: center;
        }
      
    }
    .items{
        width: 80%;
        height: 100%;
        margin: 0 5px;
        padding: 0;
            a{
                margin: 0 auto;
            }
            img{
                margin: 5px;
                border-radius: 5px;
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        
    
    }
    
}

